#about.container {
  background-image: url(../../assets/About.png);
  background-repeat: no-repeat;
}
.dark-mode #about.container {
  background-image: url(../../assets/About-dark.png);
  background-repeat: no-repeat;
}
#about .common#skill {
  text-align: left;
  transform: rotate(-180deg);
}
.col-12 {
  flex: 0 0 100%;
}
.col-lg-6 {
  flex: 0 0 50%;
}
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 100px;
  margin-top: 50px;
  margin-right: -15px;
  margin-left: -15px;
}
.about img.person {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.btn-cv {
  width: 100%;
  margin-top: 24px;
  position: relative;
  display: flex;
  justify-content: center;
}
.btn-cv .interest {
  width: 80%;
  background: #3a3a3c;
  padding: 48px;
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dark-mode .btn-cv .interest {
  background: rgba(255, 255, 255, 0.1);
}
.btn-cv .interest .title {
  padding: 0 32px;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}
.dark-mode .btn-cv .interest .title {
  color: #fff;
}
.btn-cv .interest a {
  background-color: #de2e26;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 16px 32px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}
.dark-mode .btn-cv .interest a {
  background: #f9eb21;
  color: #3a3a3c;
}
.btn-cv .interest a:hover,
.btn-cv .interest a:focus {
  background: #3a3a3c;
  text-decoration: none;
}
.dark-mode .btn-cv .interest a:hover,
.dark-mode .btn-cv .interest a:focus {
  background: #fff;
}
.aboutme-p {
  font-size: 16px;
  padding: 5px 10px;
  line-height: 30px;
  text-align: justify;
}
.aboutme-p i {
  color: #3a3a3c;
  opacity: 0.8;
}
.dark-mode .aboutme-p i {
  color: #fff;
  opacity: 0.5;
}
.top {
  margin-top: 50px;
}
.skills {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.skills .skill {
  font-size: 16px;
  margin: 0.4em;
  margin-bottom: 1.5em;
  font-weight: 800;
}
.btn-skill {
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border: none;
  /* background: none;
  color: #fff; */
}
.btn-pill#html {
  background-color: #000000;
  color: #bd3e1e;
}
.btn-pill#html:hover {
  background-color: #bd3e1e;
  color: #191919;
}
.btn-pill#css {
  background-color: #007acc;
  color: #ffffff;
}
.btn-pill#css:hover {
  background-color: #939aac;
  color: #000;
}
.btn-pill#javascript {
  background-color: #323330;
  color: #f0db4f;
}
.btn-pill#javascript:hover {
  background-color: #f0db4f;
  color: #323330;
}
.btn-pill#php {
  background-color: #e2bc30;
  color: #204868;
}
.btn-pill#php:hover {
  background-color: #204868;
  color: #e2bc30;
}
.btn-pill#sql {
  background-color: #007fff;
  color: #000;
}
.btn-pill#sql:hover {
  background-color: #191919;
  color: #007fff;
}
.btn-pill#react {
  background-color: #3c873a;
  color: #fff;
}
.btn-pill#react:hover {
  background-color: #ce9999;
  color: #191919;
}
.btn-pill#photoshop {
  background-color: rgb(98, 60, 228);
  color: rgb(206, 206, 206);
}
.btn-pill#photoshop:hover {
  background-color: rgb(206, 206, 206);
  color: rgb(98, 60, 228);
}
.btn-pill#illustrator {
  background-color: #e2bc30;
  color: #191919;
}
.btn-pill#illustrator:hover {
  background-color: #d67355;
  color: #e2e2e2;
}
.btn-pill#figma {
  background-color: #820c02;
  color: #eda895;
}
.btn-pill#figma:hover {
  background-color: #eda895;
  color: #820c02;
}
.btn-pill#corel {
  background-color: #31c02c;
  color: #000000;
}
.btn-pill#corel:hover {
  background-color: #303030;
  color: #fff;
}
.btn-skill:active,
.btn-skill:focus {
  outline: none;
  box-shadow: none;
}
/* ========================================================= */
@media screen and (max-width: 765px) {
  .col-12.col-lg-6 {
    flex: 0 0 100%;
  }
  .btn-cv .interest {
    padding: 20px;
    flex-direction: column;
  }
  .btn-cv .interest .title {
    padding: 25px;
  }
}
@media screen and (max-width: 576px) {
  #about.container {
    background-image: url(../../assets/About-mobile.png);
    background-repeat: no-repeat;
  }
  .dark-mode #about.container {
    background-image: url(../../assets/About-mobile-dark.png);
    background-repeat: no-repeat;
  }
  .btn-cv .interest {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .btn-cv .interest .title {
    padding: 10px;
  }
}
